@import "./pages/start.scss";
@import "./components/buttons.scss";
@import "./layout/header.scss";
@import "./components/modal.scss";

* {
  margin: 0;
  padding: 0;
}

p,
a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
