.center-page {
  width: 100%;
  margin: auto;
}

.text-content {
  display: flex;
  margin-top: 5em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    margin: 1em 0;
    font-size: 1.3em;
  }
}

.person-container {
  display: flex;
  justify-content: center;
  .person-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
  }
}

.person-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 250px;
  margin: 4em;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;

  .person-name {
    font-size: 1.4em;
  }
}
